/*Start Variables*/
:root{
    --main-color: #10cab7;
    --secondry-color: #2e4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
}
 /*End Variables/*/
/*Start Global Ruls*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "work sans", sans-serif;
}
.container{
 padding-left: 15px;
 padding-right: 15px;
 margin-left: auto;
 margin-right: auto;
}

/*Small*/

@media(min-width: 768px){
    .container{
        width: 750px;
    }
}

/*Medium*/

@media(min-width: 992px){
.container{
    width: 970px;
}
}

/*Large*/

@media(min-width: 1200px){
    .container{
        width: 1170px;
    }
}
/*End Glopal Rulse*/
/*Start Components*/
.special-heading{
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}
.special-heading + p{
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}
@media (max-width: 767px){
    .special-heading{
        font-size: 60px;
    }
.special-heading + p{
    margin-top: -20px;
}
}
/*End Components*/
/*Start Header*/
.header{
    padding: 10px;
     background-color: var(--section-background);
     position: sticky;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 1000;
     opacity: .7;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 900px){
    .header .container{
        flex-direction: column;
    }
    .header .links{
        margin-top: 30px;
}
}
.header .logo{
    width: 60px;
}
.header .links{
    position: relative;
}
.header .links ul{
    list-style: none;
    display: flex;
    /* margin: 0;
    padding: 0; */
    /* background-color: var(--section-background); */
    /* position: absolute;
    right: 0;
    min-width: 200px; */
    /* top: calc(100% + 15px); */
    /* display: none;
    z-index: 1; */ 
}
/* .header .links ul::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #F6F6F6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
} */
/* .header .links:hover ul{
    display: block;
} */
.header .links ul a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}
.header .links ul a:hover{
transform: scale(1.2);
color: var(--main-color);
}
/* .header .links ul li:not(:last-child) a{
    border-bottom: 1px solid #ddd;
} */
/*End Header*/
/*Start Landing Section*/
.landing{
    background-image:url(../images/image1.jpeg) ;
    background-size: cover;
    /* height: calc(100vh - 64px ); */
    height: 100dvh;
    position: relative;
  /* height: 500px; */
}

.landing .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;             
  align-items: center;
  gap: 30px;                 

}
.landing .intro-text .text h1{
    color: rgba(255, 255, 255, 0.621);
    font-size: 20px;
    width: 700px;
    padding-block: 30px;
    line-height: 55px;
}
.landing .intro-text .text span{
   font-size: 40px;
   color: var(--main-color);
}

.landing .intro-text .text p{
    color: rgba(255, 255, 255, 0.621);
    font-size: 16px;
}
.landing .intro-text .image img {
  width: 300px;
height: 400px;
  border-radius: 12px;
 box-shadow: 0 20px 40px rgba(3, 230, 226, 0.411);   
  transform: perspective(800px) rotateY(-5deg); 
  opacity: .9;
}

@media (max-width: 991px){
    .landing .intro-text{
        flex-direction: column;
        text-align: center;
    }
    .landing .intro-text .text h1{
        font-size: 30px;
        width: 100%;
        line-height: 40px;
    }
    .landing .intro-text .image img {
        width: 250px;
        height: 350px;
    }
}

/* .landing .intro-text h1{
margin: 0;
font-weight: bold;
font-size: 50px;
color: var(--main-color);

}
.landing .intro-text p{
    font-size: 19px;
    line-height: 1.8;
} */
/*End Landing Section*/
/*Start Features*/
.features{
padding-top: var(--section-padding);
padding-bottom: var(--section-padding);
background-color: var(--section-background);
}
.features .container{
    display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   gap: 20px;
}
.features .feat{
    padding: 20px;
   text-align: center;
}
.features .feat i{
    color: var(--main-color);
}
.features .feat h3{ 
    font-weight: 800;
    margin: 30px 0 ;
}
.features .feat p{
line-height: 1.8;
color: #777;
font-size: 17px;
}
/*End Features*/
/*Start Services*/
.services{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}
.services .services-content .srv{
    display: flex;
    margin-bottom: 40px;
    min-height: 200px;
}
@media (max-width: 767px){
    .services .services-content .srv{
        flex-direction: column;
        text-align: center;
    }
}
.services .srv i{
    color: var(--main-color);
    flex-basis: 60px;
}
.services .srv .text{
    flex: 1;
}
.services .srv .text h3{
margin: 0 0 20px;
}
.services .srv .text p{
color: rgb(40, 70, 70);
font-weight: 300;
line-height: 1.6;
}
.services .services-content .image{
    text-align: center;
    position: relative;
}
.services  .services-content .image::before{
    content: "";
    background-color: var(--secondry-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 0;
    z-index: -1;
}
.services  .services-content .image img{
width: 260px;
}
@media (max-width: 1216.15px){
    .image-column{
        display: none;
    }
}
/*End Services*/
/*Start Portfolio*/
.portfolio{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.portfolio a{
    text-decoration: none;
}
.portfolio .portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 80px;
}
.portfolio .card{
    background-color: white;
    border-radius: 10px;
    transition: all 1s;
    min-height: 450px;
}
.portfolio .card img{
    max-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 200px;
}
.portfolio .card .info{
    padding: 20px;
}
.portfolio .card .info h3{
    margin: 0;
}
.portfolio .card .info p{
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}
.portfolio a:hover .card {
    transform: scale(1.05);
    transition: 0.3s;
     box-shadow: 0 20px 40px rgba(3, 230, 226, 0.4);
}
/*End Portfolio*/
/*Start About*/
.about{
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding + 60px));
}
.about .about-content{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width:991px){
    .about .about-content{
        flex-direction: column;
        text-align: center;
    }
    
}
.about .image{
    position: relative;
    width: 250px;
    height: 375px;
}
@media (max-width:991px){
    .about .image{
        margin: 0 auto 60px;
    } 
}
.about .image::before{
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}
.about .image::after{
     top: -40px;
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -150px;
}

@media (max-width: 991px) {
    .about .about-content .image::before,
    .about .about-content .image::after {
      display: none;
    }
  }
.about .image img{
    max-width: 100%;
}
.about .about-content .text{
   
    flex-basis: calc(100% - 500px);
}
.about .text p:first-of-type{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.about .text hr{
 width: 50%;
 display: inline-block;
 border-color: var(--main-color);
}
.about .text p:last-of-type{
    line-height: 2;
    color: #777;
    margin-top: 0;
}
/*End About*/
/*Start Contact*/
.contact{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.contact .info{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}
.contact .label{
    font-weight: 800;
    font-size: 40px;
    color: var(--secondry-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .link{
    display: block;
    color: var(--main-color);
    font-weight: bold;
    font-size: 40px;
    text-decoration: none;
}
.contact .social{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}
.contact .social i{
    margin-left: 10px;
    color: var(--secondry-color);
    transition: all 1s;
}
.social a:hover i{
    color: var(--main-color);
    transform: scale(1.2);
    transition: 0.3s;
}
@media (max-width: 767px) {
    .contact  .label,
    .contact  .link {
      font-size: 25px;
    }
  }
/*End Contact*/
/*STart Footer*/
.footer{
    background-color: var(--secondry-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 16px;
}
.footer span{
    font-weight: bold;
    color: var(--main-color);
}
/*End Footer*/